table {
  border-width: 1px;
  width: 80%;
  text-align: center; border: 1px;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif; padding: 8px; background-color: #566656;
  box-sizing: border-box;padding-left: 10%;
  
}
th{
     font-size: 30;font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: #566656;
}
tr{
  font-size: 20; font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hover-container {
  position: relative;
  display: inline-flex;
}

.hover-container img {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  width: 200px;
  z-index: 10;
}

.hover-container:hover img {
  display: block;
}
table td:nth-child(2) {
     background-color: #f4f4f4;
     color: blue;
}
table td:nth-child(1){
  background-color: #ffffff
}
table td:nth-child(3){
  background-color: #ffffff
}
table td:nth-child(4){
  background-color: #ffffff
}